<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive SVG</title>
    <style></style>
  </head>
  <body>
    <div class="content" role="main">
      <div class="text-column">
        <ul>
          <li>Country Name:</li>
          <li>Country Capital:</li>
          <li>Country Region:</li>
          <li>Income Level:</li>
        </ul>
      </div>

      <div class="svg-column">
        <div class="svg-container">
        </div>
      
      </div>
    </div>
  </body>
</html>
